PORT=8787
DEMO_MODE=true

SQL_SERVER=
SQL_DATABASE=
SQL_USER=
SQL_PASSWORD=
SQL_PORT=1433
SQL_ENCRYPT=false
SQL_TRUST_SERVER_CERTIFICATE=true
SQL_PRICE_QUERY=
SQL_TEST_BARCODE=MB-1001
PRICE_MARKER_VALUE=123456789
