PORT=8787
DEMO_MODE=true

SQL_SERVER=
SQL_DATABASE=
SQL_USER=
SQL_PASSWORD=
SQL_PORT=1433
SQL_ENCRYPT=false
SQL_TRUST_SERVER_CERTIFICATE=true
SQL_PRICE_QUERY="SELECT TOP (1)
  CAST(b.BARCODE AS nvarchar(80)) AS code,
  CAST(s.MALINCINSI AS nvarchar(255)) AS name,
  CAST(b.SATISFIYATI1 AS decimal(18, 2)) AS price,
  CAST(b.PB1 AS nvarchar(10)) AS currency
FROM dbo.F0102TBLBIRIMLEREX b
LEFT JOIN dbo.F0102TBLSTOKLAR s
  ON b.STOKNO = s.IND
WHERE b.BARCODE = @code"
SQL_TEST_BARCODE=MB-1001
PRICE_MARKER_VALUE=123456789
